/* CSS Reset - Start */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

img,
picture {
    max-width: 100%;
    display: block;
}

/* CSS reset - END */

/* Font Styles */
h3 {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 1px;
}

p {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.6;
}

/*  END  */

/* Remove All Default Checkbox Appearance */
input {
    -webkit-appearance: none;
}


/* Text Color Accents */
.text-white-accent {
    color: hsl(0, 0%, 100%);
}

.text-grey-accent {
    color: hsl(217, 12%, 63%);
}

.text-orange-accent {
    color: hsl(25, 97%, 53%);
}

/* END */



/* Star Icon */
.star-icon {
    background-color: hsl(216, 12%, 14%);
    width: 3em;
    height: 3em;
    border-radius: 100%;
}

.center-item {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: hsl(0, 0%, 100%);
}

/*  END  */


/* Layout */
.component {
    background-color: hsl(216, 12%, 8%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(213, 19%, 18%);
    border-radius: 1em;
    width: 90%;
    max-width: 400px;
}

.component__content {
    margin: 0 auto 2.5rem;
    width: 85%;
}

.component__content>* {
    margin-top: 1.5rem;
}

.align-text-center {
    text-align: center;
}



/* Submit Button */
.submit-btn {
    width: 100%;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 100px;
    height: 3em;
    letter-spacing: 3px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

/*  END  */


/* Score Rating */
.checked-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checked-box__item {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    transition: background .5s;
    cursor: pointer;
}

/*   END */



/* Active States */
.submit-btn:hover,
.submit-btn:focus {
    transition: .5s;
    background-color: hsl(0, 0%, 90%);
    color: hsl(25, 97%, 53%);
    box-shadow: rgba(31, 35, 40, 1) 0 8px 15px;
}

.checked-box__item:hover {
    background-color: hsl(25, 97%, 53%);
}

.checked-box__item::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: hsl(0, 0%, 90%);
}

.box-1::after {
    content: '1';
}

.box-2::after {
    content: '2';
}

.box-3::after {
    content: '3';
}

.box-4::after {
    content: '4';
}

.box-5::after {
    content: '5';
}

.checked-box__item:checked {
    background-color: hsl(217, 12%, 63%);
}

/* END */


#thank-you-statement {
    display: none;

}

.thank-you__image>* {
    margin: 0 auto;
}

.thank-you-message {
    margin: 1.5rem auto;
    padding: 12px;
    height: auto;
    max-width: 250px;
    line-height: 2.2rem;
    background-color: hsl(216, 12%, 14%);
    border-radius: 100px;
    font-weight: 400;
}